/* line 1, /Volumes/Secundario/desenvolvimento/Rails/depot/app/assets/stylesheets/application.scss */
body {
  margin: 0;
  padding: 0;
}

/* line 5, /Volumes/Secundario/desenvolvimento/Rails/depot/app/assets/stylesheets/application.scss */
header.main {
  text-align: center;
  background: #282;
  margin: 0;
}
@media (min-width: 30em) {
  /* line 5, /Volumes/Secundario/desenvolvimento/Rails/depot/app/assets/stylesheets/application.scss */
  header.main {
    text-align: left;
  }
}
/* line 12, /Volumes/Secundario/desenvolvimento/Rails/depot/app/assets/stylesheets/application.scss */
header.main h1 {
  display: none;
}

/* line 17, /Volumes/Secundario/desenvolvimento/Rails/depot/app/assets/stylesheets/application.scss */
.content {
  margin: 0;
  padding: 0;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-box-direction: normal;
}
@media (min-width: 30em) {
  /* line 17, /Volumes/Secundario/desenvolvimento/Rails/depot/app/assets/stylesheets/application.scss */
  .content {
    flex-direction: row;
    -webkit-box-orient: horizontal;
  }
}
/* line 28, /Volumes/Secundario/desenvolvimento/Rails/depot/app/assets/stylesheets/application.scss */
.content nav {
  padding-bottom: 1em;
  background: #141;
  text-align: center;
}
@media (min-width: 30em) {
  /* line 28, /Volumes/Secundario/desenvolvimento/Rails/depot/app/assets/stylesheets/application.scss */
  .content nav {
    text-align: left;
    padding: 1em;
  }
}
/* line 36, /Volumes/Secundario/desenvolvimento/Rails/depot/app/assets/stylesheets/application.scss */
.content nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 30em) {
  /* line 36, /Volumes/Secundario/desenvolvimento/Rails/depot/app/assets/stylesheets/application.scss */
  .content nav ul {
    padding-right: 1em;
  }
}
/* line 44, /Volumes/Secundario/desenvolvimento/Rails/depot/app/assets/stylesheets/application.scss */
.content nav ul li {
  margin: 0;
  padding: 0.5em;
  text-transform: uppercase;
  letter-spacing: 0.354em;
}
/* line 47, /Volumes/Secundario/desenvolvimento/Rails/depot/app/assets/stylesheets/application.scss */
.content nav ul li a {
  color: #bfb;
  text-decoration: none;
}
/* line 51, /Volumes/Secundario/desenvolvimento/Rails/depot/app/assets/stylesheets/application.scss */
.content nav ul li a:hover {
  background: none;
  color: white;
}
/* line 58, /Volumes/Secundario/desenvolvimento/Rails/depot/app/assets/stylesheets/application.scss */
.content main {
  padding: 0.5em;
}
